/* Write your code here. */
.img {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  margin-left: 10px;
  opacity: 0.5;
}

.active-img {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  margin-left: 10px;
  opacity: 1;
}

.button {
  border: none;
  background-color: transparent;
}
li {
  list-style-type: none;
}
